.heart{
    display: flex;
    i{
        font-size: 2rem;
        &:nth-child(2){
            color: transparent;
            position: absolute;
            background-clip: text;
            &:hover{
                cursor: pointer;
                background: linear-gradient($color_primary, $color_secondary);
                background-size: 100% 100%;
                background-clip: text;
                background-position: bottom;
                background-repeat: no-repeat;
                animation: animationHeart 0.5s linear;
            }
        }
    }
    
    
}