/* RÈGLES */

body{
    font-family: "Roboto";
    margin: 0;
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Shrikhand";
    margin: 0;
    font-weight: normal;
}

a{
    color: black;
    text-decoration: none;
}