#index{
    header{
        justify-content: center;
    }

    #location{
        height: 50px;
        color : #353535;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        background-color: #eaeaea;

        i{
            margin-right: 19px;
        }
    }
}
